.dataAnalyzeContainer {
  width: 100%;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
  .descriptionContainer {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 50px;
  }
  .suggestions {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.45);
    height: 3px;
    .suggestionSpan {
      color: #000;
      letter-spacing: 1px;
    }
  }
  .echartsContainer {
    width: 1200px;
  }
}
